[package]
name = "blit"
version = "0.5.6"
edition = "2018"
authors = ["Thomas Versteeg <thomasversteeg@gmx.com>"]
license = "GPL-3.0"
homepage = "https://github.com/tversteeg/blit"

readme = "README.md"
description = "Blit sprites on a buffer with a mask"
documentation = "https://docs.rs/blit"

repository = "https://github.com/tversteeg/blit.git"
keywords = ["image", "gamedev", "sprite", "blitting"]
categories = ["games", "rendering::data-formats", "game-engines", "multimedia::images"]

[badges]
travis-ci = {repository = "tversteeg/blit"}

[features]
default = ["image", "aseprite"]

[dependencies]
rayon = "1.2.1"
bincode = "1.2.0"
serde = "1.0.102"
serde_derive = "1.0.102"
quick-error = "1.2.2"
num-traits = "0.2.10"
image = { version = "0.22.3", optional = true }
aseprite = { version = "0.1.3", optional = true }

[[example]]
name = "smiley"
path = "examples/smiley.rs"

[[example]]
name = "aseprite"
path = "examples/aseprite.rs"

[dev-dependencies]
image = "0.22.3"
minifb = "0.14.0"
serde_json = "1.0.41"
